@CHARSET "UTF-8";
button 				{border: 1px dotted #525D76; font: 9pt 앗싸돼지요; background: #FFFFFF; cursor:pointer;}	

span.TAGNAME		{font: 8pt/1 나눔고딕코딩;}
span.TAGNAME:hover  {border: 0px dotted #525D76; color:#FFFFFF;          background: Orange;  cursor:pointer;}

input.INPUTTEXT 	{border: 1px dotted red;     font:10pt 나눔고딕코딩; background-color:#DBEBF8;}

legend.CONTENTTITLE	{font: 15pt 나눔고딕코딩;}

tr.LIST:hover		{background: #D9DFF0;}
td.LIST				{border-bottom:1px dashed lightblue; font:normal 10pt/1.5 나눔고딕코딩;}

div.CONTENTTAG		{border-bottom:1px dotted lightblue; font:       10pt     나눔고딕코딩;}
div.CONTENTBODY		{background:WhiteSmoke;}
