@CHARSET "UTF-8";
body	{background: #FFFFFF url() no-repeat center; font: 9pt 맑은 고딕;}
form	{display: inline;}
ul		{font:bold 12pt 맑은 고딕;}
li		{font: 9pt 맑은 고딕;}
a		{text-decoration:none;color:DarkGreen;font: 10pt 나눔고딕코딩;}
a:hover	{text-decoration:none;color:DarkGreen;border-bottom:1pt dashed Orange;}
input 	{border:0pt}
pre 	{border: 1px dotted #525D76;}
