<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns=		"http://www.springframework.org/schema/beans"
	xmlns:xsi=		"http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p=		"http://www.springframework.org/schema/p"
	xmlns:context=	"http://www.springframework.org/schema/context"
	xmlns:aop=		"http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 	http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
		default-init-method="turnOnLights"
		default-destroy-method="turnOffLights">
	
	<!-- <context:annotation-config/> -->
	<context:component-scan base-package="com.springinaction.springidol">
		<context:include-filter type="assignable" expression="com.springinaction.springidol.Instrument"/>
		<!-- <context:exclude-filter type="annotation" expression="com.springinaction.springidol.SkipIt"/> -->
	</context:component-scan>
	
	<!-- Performer -->
	<bean id="duke" class="com.springinaction.springidol.Juggler">
		<constructor-arg value="15"/>
	</bean>
	<bean id="poeticDuke" class="com.springinaction.springidol.PoeticJuggler">
		<constructor-arg value="15"/>
		<constructor-arg ref="sonnet29"/>
	</bean>
	<bean id="kenny" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells"/>
		<property name="instrument" ref="piano" />
	</bean>
	<bean id="kenny2" class="com.springinaction.springidol.Instrumentalist"
		p:song="Jingle Bells" 
		p:instrument-ref="saxophone" />
	<bean id="hank" class="com.springinaction.springidol.OneManBand">
		<property name="instruments">
			<props>
				<prop key="GUITAR">STRUM STRUM STRUM</prop>
				<prop key="CYMBAL">CRASH CRASH CRASH</prop>
				<prop key="HARMONICA">HUM HUM HUM</prop>
			</props>
		</property>
	</bean>
	<bean id="carl" class="com.springinaction.springidol.Instrumentalist" 
		p:song="#{'rewrwefe'}"
		p:instrument="#{piano}"/>

	<!-- Poem -->
	<bean id="sonnet29" class="com.springinaction.springidol.Sonnet29"/>
	
	<!-- ETC -->
	<bean id="theStage" class="com.springinaction.springidol.Stage" 
		factory-method="getInstance"/>
	<bean id="ticket" class="com.springinaction.springidol.Ticket" 
		scope="prototype"/>
	<bean id="auditorium" class="com.springinaction.springidol.Auditorium" 
		init-method="turnOnLights" 
		destroy-method="turnOffLights"/>

	<!-- Instrument -->	
	<bean id="saxophone" class="com.springinaction.springidol.Saxophone" />
	<bean id="piano" class="com.springinaction.springidol.Piano" />
	
	<!-- AOP -->
	<bean id="audiance" class="com.springinaction.springidol.Audience" />
	<bean id="magician" class="com.springinaction.springidol.Magician" />
	<bean id="contestantDelegate" class="com.springinaction.springidol.GraciousContestant" />
	<aop:aspectj-autoproxy/>
	<aop:config>
		<!-- <aop:aspect ref="audiance">
			<aop:pointcut expression="execution(* com.springinaction.springidol.Performer.perform(..))" id="performance"/>
			<aop:before method="takeSeats" pointcut-ref="performance"/>
			<aop:before method="turnOffCellPhones" pointcut-ref="performance"/>
			<aop:after-returning method="applaud" pointcut-ref="performance"/>
			<aop:after-throwing method="demandRefund" pointcut-ref="performance"/>
		</aop:aspect>
		<aop:aspect ref="audiance">
			<aop:pointcut expression="execution(* com.springinaction.springidol.Performer.perform(..))" id="performance2"/>
			<aop:around method="watchPerformance" pointcut-ref="performance2"/>
		</aop:aspect> -->
		<!-- <aop:aspect ref="magician">
			<aop:pointcut expression="execution(* com.springinaction.springidol.Thinker.thinkOfSomething(String)) and args(thoughts)" id="thinking"/>
			<aop:before method="interceptThoughts" pointcut-ref="thinking" arg-names="thoughts"/>
		</aop:aspect> -->
		<aop:aspect>
			<aop:declare-parents types-matching="com.springinaction.springidol.Performer+" 
				implement-interface="com.springinaction.springidol.Contestant"
				delegate-ref="contestantDelegate"/>
		</aop:aspect>
	</aop:config>
</beans>
