<?xml version="1.0" encoding="EUC-KR"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Data Source & logic
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>com.mysql.jdbc.Driver</value></property>
		<property name="url"><value>jdbc:mysql://localhost/spring</value></property>
		<property name="username"><value>root</value></property>
		<property name="password"><value>1234</value></property>
	</bean>
	<bean id="itemCatalog" class="logic.ItemCatalogImpl">
		<property name="itemDao"><ref bean="itemDao" /></property>
	</bean>
	<bean id="itemDao" class="dao.ItemDaoImpl">
		<property name="dataSource"><ref bean="dataSource" /></property>
	</bean>
	-->
	
	<!-- SampleLogic --> 
	<bean id="sampleLogic" class="kamoru.app.sample.logic.SampleLogicImpl">
		<property name="sampleDao">
			<ref bean="sampleDao" />
		</property>
	</bean>
	<bean id="sampleDao" class="kamoru.app.sample.dao.SampleDaoImpl"/>	

	<!-- VlistLogic --> 
	<bean id="vlistLogic" class="kamoru.app.vlist.logic.VlistLogicImpl">
		<property name="vlistDao">
			<ref bean="vlistDao" />
		</property>
	</bean>
	<bean id="vlistDao" class="kamoru.app.vlist.dao.VlistDaoImpl"/>	

	<!-- BBS -->
	<bean id="bbs" class="kamoru.app.bbs.logic.BbsImpl">
		<property name="bbsDao"><ref bean="bbsDao"/></property>
	</bean>
	<bean id="bbsDao" class="kamoru.app.bbs.dao.BbsDaoImpl"/>

	<!-- VlistLogic --> 
	<bean id="avLogic" class="kamoru.app.video.logic.AVLogicImpl">
		<property name="avDao">
			<ref bean="avDao" />
		</property>
	</bean>
	<bean id="avDao" class="kamoru.app.video.dao.AVDaoImpl"/>	
	
</beans>
