@CHARSET "UTF-8";
/* Dom elements */
* {
	font-family: '나눔고딕', '맑은 고딕', 'Comic Sans MS', '나눔고딕코딩';
	font-size:15px; 
}
input[type=range] { 
	background-color: silver; 
	opacity: 0.75; 
	width: 100px; 
	height:10px;
	-webkit-appearance: none; 
	-webkit-border-radius: 5px; 
	-webkit-box-shadow: inset 0 0 5px #333;
}
input[type="range"]::-webkit-slider-thumb {
	background-color: rgba(255,255,0, 0.75); 
	border: 1px solid orangered; 
	opacity: 1; 
	width: 15px; 
	height: 15px;
    -webkit-appearance: none !important; 
    -webkit-border-radius: 5px;
}
pre {
	font-family: "나눔고딕코딩"; 
	font-size:10px;
}
ul {
	padding:0; 
	margin:0;
}
li {
}
dl {
	margin:0;
}
dt {
	height:30px; 
}
dd {
	margin:3px 0px 0px 5px; 
	text-align:left;
}

/* id */
div#searchDiv {
	text-align:center;
}
div#studioDiv {
	display:none;
}
div#actressDiv {
	display:none;
}
div#contentDiv {
	overflow:auto; 
	text-align:center; 
	background-position:center center; 
	background-size:contain;
}
#totalCount, 
#debug,
#bgimg {
	font-size:15px; 
	text-shadow:1px 1px 1px yellow;
}
#debug {
	margin-right:10px;
	margin-left:10px;
}
#bgimg {
	float:right;
}
#video-slide-wrapper {
	text-align: center;
	float:center;
	height: 100%;
}
#video_slide_bar {
	margin-top: 10px;
}
/* class */
/* border-radius 15 */
.div-box {
	border-radius:15px; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
}
/* border-radius 10 */
li,
.group,
.video-card,
.video-box,
.video-box-bg,
.video-slide,
.video-slide-bg,
.video-sbox,
.video-table {
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
}
/* border-radius 5 */
.checkbox-on, 
.checkbox:hover, 
.radio-on, 
.radio:hover, 
.label,
.label-large {
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
}
/* orange border */
.group,
.video-card,
.video-box,
/* .video-slide, */
.video-sbox {
	border:1px solid orange;
}
/* video margin padding */
.video-card,
.video-box,
.video-sbox,
/* .video-slide, */
.video-table {
	padding:5px; 
	margin:5px; 
}

.div-box {
	border: 1px solid #888; 
	background-color: #eee; 
	padding: 10px; 
	margin: 10px;
	box-shadow: 10px 10px 5px #588; 
	-moz-box-shadow: 10px 10px 5px #588; 
	-webkit-box-shadow: 10px 10px 5px #588;
}
.group {
	display:inline-block; 
	padding:3px; 
	margin:2px; 
}
.separator {
	font-weight:bold; 
	color:gray; 
	text-shadow: 1px 1px 1px white;
}				
.checkbox,    
.radio,
.button {
	font-size:15px; 
	cursor:pointer; 
	padding:0; 
	margin:0;
}
.checkbox:hover, 
.radio:hover {
	/* background-color:orange; */
	color: white;
	text-shadow: 1px 1px 2px black;
}
.button {
	color:royalblue; 
	font-weight:bold;
}
.checkbox-on, 
.radio-on {
	background-color:orange; 
	text-shadow:1px 1px 1px white;
}

.searchInput {
	width:100px; 
	border:0; 
	color:blue; 
	margin:0px; 
	padding:0px; 
	text-align:center;
}
.item10,
.item5,
.item1 {
	color:blue; 
	margin-left:10px;
	display:inline-block; 
}
.item10 {
	font-size:18px;
	text-shadow:2px 2px 2px cyan;
}
.item5 {
	font-size:15px;
	text-shadow:2px 2px 2px yellow;
}
.item1 {
	font-size:10px;
	text-shadow:2px 2px 2px white;
}
.li-box {
	display:inline-block;
}
.li-box-select {
	background-color:snow;
}
.li-box-played {
	background-color:cyan;
}
.label {
	display:inline-block; 
	text-overflow:ellipsis;
	font-size: 12px;
	overflow:hidden; 
	background-color:rgba(255, 255, 255, 0.5); 
	color:black; 
	text-shadow:1px 1px 1px white; 
	padding:0px 5px 0px 5px;
	border-bottom:1px solid orange; 
	border-right:1px solid orange; 
}
.label-large {
	font-size: 15px;
	overflow:hidden; 
	background-color:rgba(255, 255, 255, 0.8); 
	color:black; 
	text-shadow:1px 1px 1px white; 
	padding:0px 5px 0px 5px;
	border:1px solid orange; 
}
.exist {
	color:blue;
}
.nonExist {
	color:gray;
}
.onclick {
	cursor:pointer;
/* 	background-image: url('/kamoru/resources/link.png');
	background-repeat:no-repeat; 
	background-position:right center; 
	padding-right: 15px; */
}
.onclick:hover {
	color:orange; 
	text-decoration:none; 
	text-shadow:1px 1px 1px black;
}
.video-card {
	width:190px;
	background-color:rgba(255, 255, 255, 0.25);
}
.video-card-bg {
	background-repeat:no-repeat; 
	background-position:right center; 
	background-size:155px;
}
.video-box {
	width:266px; 
	height:177px; 
}
.video-box-bg {
	height:177px; 
	background-repeat:no-repeat; 
	background-position:right center; 
	background-size:contain;
}
.video-slide {
	width:800px; 
	height:540px; 
	display: inline-block;
}
.video-slide-bg {
	height:540px; 
	background-repeat:no-repeat; 
	background-position:right center; 
	background-size:contain;
	background-color: rgba(255, 255, 255, 0.75);
}
.video-sbox {
	background-color:transparent; 
}
.video-table {
	width:100%; 
	background-color:transparent; 
	opacity: 0.75; 
}
.video-table tr:hover {
	background-color:rgba(255, 255, 255, 0.75);
}

.video-table td {
	white-space:nowrap;
	font-size: 13px;
}

/* Webkit용 scrollbar ref. http://circlash.tistory.com/610 */
::-webkit-scrollbar {
	width: 8px; 
	height: 8px; 
	border: 0px solid #fff; 
	background-color: rgba(255,255,255,0);
}
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {
	display: block; 
	height: 10px; 
	/* background: url('./images/bg.png') #efefef; */
	background-color: rgba(255,255,255,0);
}
::-webkit-scrollbar-track {
	background-color: rgba(255,255,255,0);
	/* background: #efefef; */ 
	-webkit-border-radius: 10px; 
	border-radius:10px; 
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
	height: 50px; 
	width: 50px; 
	background: rgba(255,140,0,.5); 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1);
}
