@CHARSET "UTF-8";

em {
	background-color:yellow;
	font-style: normal;
	font-size: 12px;
}
#newVideo {
	position:float; 
	left:0px; 
	bottom:400px; 
	height:400px; 
	overflow:auto;
}
.highlighted {
	background-color:yellow;
}
