<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-15t> %d{HH:mm:ss} %-5p: %20C{1}.%-25M - %m%n" />
		</layout>
	</appender>

    <!--  날짜별 로그 -->  
	<!-- 이것은 날짜별로  로그를 남김. 파일명.확장자.DatePattern으로 정의 함-->  
    <appender name="dailyout" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="file" value="kamoru.dailyout.log"/>  
        <param name="Append" value="true"/>  
        <param name="DatePattern" value="'.'yyMMdd"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%-15t> [%-5p] [%d{yyyy-MM-dd HH:mm:ss}] [%20c{1}.%-25M(%3L)] %m%n"/>  
        </layout>  
    </appender>  
 	
 	<!-- xml 로그-->  
    <!-- xml형식으로 로그를 남김 -->  
	<appender name="xmlout" class="org.apache.log4j.FileAppender">  
        <param name="file" value="kamoru.log4jxml.xml"/>  
        <param name="Append" value="true"/>  
        <layout class="org.apache.log4j.xml.XMLLayout"/>  
    </appender>  
    
	<!-- Application Loggers -->
	<logger name="com.kamoru">
		<level value="info" />
		<appender-ref ref="dailyout" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
		<appender-ref ref="xmlout"/>
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
