#container
    {
        width:750px;
        margin-right:auto;
        margin-left:auto;
        padding:0px;
        text-align:left;
        position: relative;
        overflow: hidden;

    }

* {
    margin:0;
    padding:0;
    font-family: arial, sans-serif;
  }

body
{
    font-size: medium;
    font-family: arial, sans-serif;
    color: #000;
    text-align: center;
}

a
{
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
}

#header
{
    text-align: center;
    padding:8px;
    border-bottom: 1px solid #333;
}
#header h1
{
    margin: 0;
    padding: .5em;
}
#leftDiv
{
    float:left;
    width:250px;
    padding:8px;
}

#rightDiv
{
    float: right;
    width: 250px;
    padding: 8px;
}


#centerDiv {
    margin-right:270px;
    margin-left:270px;
     padding:8px;
}

#footer
{
    clear: both;
     padding:8px;;
    text-align: center;
    border-top: 1px solid #333;
}

#list1
{
  width:200px;
}

#list2
{
  width:200px;
}
