<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kamoru</display-name>

  <servlet>
    <description></description>
    <display-name>log4jinit</display-name>
    <servlet-name>log4jinit</servlet-name>
    <servlet-class>kamoru.web.log.Log4jInit</servlet-class>
    <init-param>
      <description></description>
      <param-name>log4j-init-file</param-name>
      <param-value>/WEB-INF/log4j.lcf</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>bwadkdbconfig</servlet-name>
    <servlet-class>com.hs.bf.adk.config.DBConfigBag</servlet-class>
    <init-param>
      <param-name>dbconfig-xml-uri</param-name>
      <param-value>/WEB-INF/bwadk_db.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
	<servlet>
		<servlet-name>bwquery</servlet-name>
		<servlet-class>com.hs.frmwk.db.BWQueryLoader</servlet-class>
		<init-param>
		  <param-name>query-dir-uri</param-name>
		  <param-value>/WEB-INF/</param-value>
		</init-param>
		<init-param>
		  <param-name>query-file-prefix</param-name>
		  <param-value>bwquery</param-value>
		</init-param>
		<init-param>
		  <param-name>query-file-suffix</param-name>
		  <param-value>.xml</param-value>
		</init-param>
		<init-param>
			<param-name>query-type</param-name>
			<param-value>XML</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
  
  <servlet>
    <servlet-name>streamwriter</servlet-name>
    <servlet-class>kamoru.util.StreamWriter</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>bwquery</servlet-name>
		<url-pattern>/servlet/bwquery</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>streamwriter</servlet-name>
    <url-pattern>/servlet/streamwriter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bwadkdbconfig</servlet-name>
    <url-pattern>/servlet/bwadkdbconfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log4jinit</servlet-name>
    <url-pattern>/log4jinit</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!-- 
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>kamoru</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>kamoru</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>kamoru</realm-name>
  </login-config>
  <security-role>
    <description>
      The role that is required to log in to the kamoruserver
    </description>
    <role-name>kamoru</role-name>
  </security-role>
  <error-page>
    <error-code>401</error-code>
    <location>/common/401.jsp</location>
  </error-page>
 -->  
  <jsp-config>
    <jsp-property-group>
    	<url-pattern>*.jsp</url-pattern>
    	<el-ignored>false</el-ignored>
    	<page-encoding>utf-8</page-encoding>
    	<scripting-invalid>false</scripting-invalid>
    	<include-prelude>/common/header.jsp</include-prelude>
    </jsp-property-group> 
  </jsp-config>
</web-app>