@CHARSET "UTF-8";
body#deco_body {
	background:url(/kamoru/img/green3.png); 
	margin:0 auto; 
	font-family:'Comic Sans MS' '나눔고딕코딩' '맑은 고딕';}
#deco_header {
	background-color:#588;
/* 	display: block; */
	margin:0;}
#deco_header_h1 {
	font-family: 'Comic Sans MS' 'Impact' '나눔손글씨 펜' '나눔손글씨 붓' 'URW Chancery L' 'Purisa';
	width:800px;
	margin:0 auto;
	text-align:center;}
#deco_header_h1 a {}
.deco_header_h1_left_iamge_span {float:left; font-size:20px; margin-top: 2px;}
.deco_header_h1_right_span 		{float:right;font-size:20px; margin-top:10px; margin-left:5px;}

#deco_nav {
/* 	display: block; */
/* 	float: left; */
	background-color:lightgreen;
}
#deco_nav_div {
	margin:0 auto;
	width:800px;
}
.deco_nav_div_home {float:right;}

#deco_section {
	padding:10px;
	margin:0 auto;
	width:800px;
	overflow:auto;
/* 	display: block; */
/* 	float: right; */
/* 	background-color:green; */
}

#deco_footer {
/* 	display: block; */
	background-color:#588;
	/* padding-top:10px; */ 
	font: 10pt arial; 
	text-align:center;
	bottom: 0px;
	position: float;
	width:100%;
}

a       {text-decoration: none;}
a:hover {text-decoration: none; text-shadow: 2px 2px 5px #333;}
