<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kamoru</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WelcomekAmOrU</display-name>
    <servlet-name>WelcomekAmOrU</servlet-name>
    <servlet-class>kamoru.servlet.WelcomekAmOrU</servlet-class>
    <init-param>
      <description></description>
      <param-name>kamoru</param-name>
      <param-value>welcome</param-value>
    </init-param>
  </servlet>

	<servlet>
		<servlet-name>bwadkdbconfig</servlet-name>
		<servlet-class>com.hs.bf.adk.config.DBConfigBag</servlet-class>
		<init-param>
			<param-name>dbconfig-xml-uri</param-name>
			<param-value>/WEB-INF/bwadk_db.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>bwquery</servlet-name>
		<servlet-class>com.hs.frmwk.db.BWQueryLoader</servlet-class>
		<init-param>
			<param-name>query-dir-uri</param-name>
			<param-value>/WEB-INF/</param-value>
		</init-param>
		<init-param>
			<param-name>query-file-prefix</param-name>
			<param-value>bwquery</param-value>
		</init-param>
		<init-param>
			<param-name>query-file-suffix</param-name>
			<param-value>.xml</param-value>
		</init-param>
		<init-param>
			<param-name>query-type</param-name>
			<param-value>XML</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>bwquery</servlet-name>
		<url-pattern>/servlet/bwquery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bwadkdbconfig</servlet-name>
		<url-pattern>/servlet/bwadkdbconfig</url-pattern>
	</servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>WelcomekAmOrU</servlet-name>
    <url-pattern>/WelcomekAmOrU</url-pattern>
  </servlet-mapping>
</web-app>