@CHARSET "UTF-8";
  div#searchDiv {text-align:center;}
  .schTxt       {width:80px; border:0;}
  .labelSpanBtn {display:inline-block; font-size:9pt; color:blue; cursor:pointer; margin-left:10px;}
.actressSpanBtn {display:inline-block; font-size:9pt; color:blue; cursor:pointer; margin-left:10px;}

  div#listDiv {height:700px; overflow:auto; text-align:center;}
           ul {padding:0px;}
           li {display:inline-block;}
     .opusDiv {width:300px;
						background-color: #eee; padding: 5px; margin:5px;
						border: 1px solid orange; 
						border-radius: 10px;
				   -moz-border-radius: 10px;
				-webkit-border-radius: 10px;}
   .labelSpan {display:inline-block; margin-left:5px; color:blue;}
    .opusSpan {display:inline-block; margin-left:5px; color:green;}
 .actressSpan {display:inline-block; margin-left:5px; color:gray;}
   .titleSpan {display:inline-block; margin-left:5px; color:black;}
  
           dt {font-size:10pt;}
           dd {font-size:9pt;margin:5px 0px 0px 0px;}
   .existFile {color:blue;}
.nonExistFile {color:gray;}
  .overviewDD {height:60px; overflow:auto;}


.boxDiv {border: 1px solid #888; background-color: #eee; padding: 10px; margin:0px;
			border-radius: 10px;
	   -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	        box-shadow: 10px 10px 5px #588;
	   -moz-box-shadow: 10px 10px 5px #588;	
	-webkit-box-shadow: 10px 10px 5px #588;}
